.content1-case-de-sucesso{
    
}

.content2-case-de-sucesso h2{
    font-family:var(--fonte-Poppins);
    color: #5304C2;
    font-weight: 500;
    width: 75%;
}

.content2-case-de-sucesso p{
    color: #2C333A;
    font-size: 1.2rem;
    width: 75%;
}

.btn-case-de-sucesso{
    background: linear-gradient(to top right, #5304C2, #8937FB);
    text-decoration: none;
    font-family: var(--fonte-SegoeUi);
    color: white;
    font-weight: 400;
    transition: 0.4s;
}
.btn-case-de-sucesso:hover{
    background: transparent;
    color: #5304C2;
    border: 1px solid #5304C2;
}

@media (max-width: 991px) {
    .content2-case-de-sucesso p{
        width: 100%;
    }

    .content2-case-de-sucesso h2{
        width: 100%;
    }
}